<% text = Enum.join([
  "*/radio status* - displays the player status",
  "*/radio playlist* - displays the tracks in the playlist",
  "*/radio add <url>* - adds a new track to the playlist (YouTube or SoundCloud links)",
  "*/radio help* - displays the help",
], "\n") %>

{
  "color": "#ccc",
  "title": "Help",
  "text": "<%= text %>",
  "mrkdwn_in": ["text"]
}
