{
  "text": "",
  "response_type": "ephemeral",
  "attachments": [
    {
      "color": "good",
      "title": "Status",
      "text": "The player is currently playing <<%= current.url %>|<%= current.title %>>\nThere are <%= listeners %> listeners\nStream URL: <%= Application.fetch_env!(:rs, :hostname) %>/stream",
      "mrkdwn_in": ["text"]
    }
  ]
}
